<a href="https://colab.research.google.com/github/csagar131/DataScience_MLsummer19-/blob/master/Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget http://13.234.66.67/summer19/datasets/bank.csv

--2019-06-23 10:26:15--  http://13.234.66.67/summer19/datasets/bank.csv
Connecting to 13.234.66.67:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/csv]
Saving to: ‘bank.csv’

bank.csv            100%[===================>] 668.81K   552KB/s    in 1.2s

2019-06-23 10:26:17 (552 KB/s) - ‘bank.csv’ saved [684858/684858]

In [0]:
import pandas as pd    # for csv data loading

In [74]:
# now reading bank data file
df = pd.read_csv('bank.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
# removing unwanted data -- that is column
actual_data = df.iloc[:,3:]

In [0]:
# features extraction from all remaining data
features=actual_data.iloc[:,0:10].values
#features.head(3)

In [0]:
# finding labels 
label = actual_data.iloc[:,10].values
#label

In [0]:
# data preprocessing   -- --->  adjusting string column value into numeric values
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [0]:
country = LabelEncoder()
gender = LabelEncoder()   # transforming particular column data (not numeric) into numeric one

In [80]:
features[:,1]=country.fit_transform(features[:,1])   # transforming country data
features       # here france is 0, spain is 2 and germany is 1

array([[619, 0, 'Female', ..., 1, 1, 101348.88],
       [608, 2, 'Female', ..., 0, 1, 112542.58],
       [502, 0, 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 0, 'Female', ..., 0, 1, 42085.58],
       [772, 1, 'Male', ..., 1, 0, 92888.52],
       [792, 0, 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [81]:
# transforming gender data
features[:,2] = gender.fit_transform(features[:,2])
features    # female is - and male is 1

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [82]:
# now creating dummy variable
contenc = OneHotEncoder(categorical_features=[1])
features = contenc.fit_transform(features).toarray()   # passing features data

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
#features.astype(int)

In [84]:
features = features[:,1:]
features.astype(int)

array([[     0,      0,    619, ...,      1,      1, 101348],
       [     0,      1,    608, ...,      0,      1, 112542],
       [     0,      0,    502, ...,      1,      0, 113931],
       ...,
       [     0,      0,    709, ...,      0,      1,  42085],
       [     1,      0,    772, ...,      1,      0,  92888],
       [     0,      0,    792, ...,      1,      0,  38190]])

In [0]:
# training testing conversion
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)   # training and testing category

In [0]:
# applying feature scalling 
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()     #  calling feature scalling 
X = sc.fit_transform(X)   # transforming training data only

In [0]:
# testing data only needs to be transform but not fit
x =sc.transform(x)

ANN

In [0]:
import keras

In [0]:
# to create ANN model
from keras.models import Sequential          # ANN initialize  -------> classifier Init
# to fill data in each layer
from keras.layers import Dense            # classifier fit

In [0]:
# calling ANN model as clsassifier
clf = Sequential()

In [0]:
# now time for adding layers first hidden layers with input attributes / layer
clf.add(Dense(units=6,activation='relu',kernel_initializer='glorot_uniform',input_shape=(11,)))

In [0]:
# adding second hidden layer
clf.add(Dense(units=6,activation='relu',kernel_initializer='glorot_uniform'))

In [0]:
# now finalizing output layer
clf.add(Dense(units=1,activation='sigmoid'))

In [0]:
# Compile the created model
clf.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
# optimizer  --- stoachtis gradi , loss= multiple ouput compare , metrics = accuracy in each step

In [0]:
# fitting features and label data
clf.fit(X,Y)